<div class="row">
  <div class="section-actions">
    <h2 class="section-title">Editing Article</h2>
    <%= link_to 'Back to listing', articles_path, class: "button" %>
  </div>
</div>

<div class="section-content">
  <div class="row">
    <%= render 'form' %>
  </div>
</div>