<div class="section-actions">
  <h2 class="section-title">All Articles</h2>

  <% if logged_in? and current_user.admin? %>
    <%= link_to 'New article', new_article_path, class: "button" %>
  <% end %>
</div>

<div class="row">
  <%= will_paginate %>
</div>

<%= render 'articles_list', obj: @articles %>

<div class="row">
  <%= will_paginate %>
</div>