<% if object.errors.any? %>
  <div class="messages messages--errors eight columns offset-by-two">
    <h5><%= pluralize(object.errors.count, "error")%> prevented this article from being saved:</h5>
    <ul class="messages__list">
    <% object.errors.full_messages.each do |msg| %>
      <li class="messages__item"><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>