
<article>
  <h1>About Alpha Blog</h1>

  <p>This is a blog application made with Ruby on Rails during The Complete Ruby on Rails Developer Course</p>

  <h2>Technologies</h2>

  <ul>
    <li>This project was developed using:
      <ul>
        <li>Ruby 2.2.3</li>
        <li>Rails 4.2.6</li>
        <li>Skeleton CSS Boilerplate</li>
      </ul>
    </li>
  </ul>

  <p><a href="https://github.com/diegoversiani/alpha-blog">See code on GitHub</a></p>
</article>