/*------------------------------------*\
  #BUTTONS
\*------------------------------------*/

.button.button-primary {
  color: $dark-grey !important;
}

.button.button-danger {
  background-color: #f00;
  color: #fff !important;
}