/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

/*------------------------------------*\
  #IMPORTS
\*------------------------------------*/

@import
  'variables',
  'skeleton-scss/skeleton',

  'links',
  'buttons',
  'messages',

  'navigation/navigation',
  'navigation/section-actions',

  'footer',

  'articles',
  'users'
  ;





/*------------------------------------*\
  #GENERAL STYLES
\*------------------------------------*/

html {
  background-color: $light-grey;
}

table {
  width: 100%;
}

textarea {
  height: auto;
  min-height: auto;
}



.main {
  padding-top: 3rem;
}



.cta {
  margin: 3rem 0;
  padding: 5rem 2rem;
  border-radius: $global-radius;

  text-align: center;
  color: #fff;
  background-color: $secondary-color;
}



.img-circle {
  border-radius: 100%;
}

.pill {
  margin-right: .5rem;
  padding: .5rem;
  border-radius: 1.5rem;
  background-color: $light-grey;
  color: $secondary-color;
  text-transform: lowercase;
}


.pagination {
  text-align: center;
  margin-top: 2rem;
}

.previous_page,
.next_page,
.current,
.pagination a {
  display: inline-block;
  padding: .5rem;
  border: solid .1rem $border-color;
  background-color: #fff;
  font-style: normal;

  &.disabled {
    background-color: $light-grey;
  }
}

.current,
.pagination a {
  border-right: 0;
  margin: 0 -.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.previous_page {
  padding-left: .5rem;
  padding-right: .5rem;
  border-right: 0;
  border-top-left-radius: $global-radius;
  border-bottom-left-radius: $global-radius;
}

.next_page {
  border-left: 0;
  border-top-right-radius: $global-radius;
  border-bottom-right-radius: $global-radius;
}