<div class="site-footer">
  <div class="container">
    <small>Copyright &copy; <a href="http://diegoversiani.me">Diego Versiani</a> | <%= link_to 'About', about_path %> | <a href="https://github.com/diegoversiani/alpha-blog">See code on GitHub</a></small>
  </div>
</div>