<div class="site-footer">
  <div class="container">
    <small>Copyright &copy; <a href="http://AT-RUBY.me">AT-RUBY</a> | <%= link_to 'About', about_path %> | <a href="https://asiantech.vn">See code on GitHub</a></small>
  </div>
</div>