<% unless flash.blank? %>
<div class="messages messages--success">
  <ul class="messages__list">
  <% flash.each do |name, msg| %>
    <li class="messages__item"><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>